<div class='perk-list'>
  <div class='perk'>
    <h2 class='perk-title'><%= @perk.name %></h2>
    <div class='perk-content'>
      <p class='perk-amount'>The value of this perk is: $ <%= @perk.amount %></p>
      <p class='perk-end'>Expires in <%= distance_of_time_in_words Time.now, @perk.end %></p>
    </div>
  </div>
</div>

<%= render "perk_requests/new" %>
